html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}

@font-face {
  font-family: Tilt;
  src: url(/images/fonts/TiltNeon.ttf)
} 
#money {
  float: right;
  text-align: right;
  color: white;
  font-family: Tilt;
}

#greeting {
  float: left;
  color: white;
  font-family: Tilt;
}